%h3 2016 Boston Hash Marathon Event/Weekend!
%p REGESTRATION COMING SOON!
%p Main event Saturday April 16th
%p Other events Friday-Monday

%br

%h3 Theme: Dungeons and Drag Queens!
%p "Strap on your heels or strap your friend to a wall. Straighten your wig and don't forget the furry cuffs. What’s in your closet?"

%br

%h3 Cost Based on when you register:
%p January-February 7th: $69
%p Febuary 8th- March 31st: $79
%p April 1st- Day of: $89

%br

%h3 What you get for your $$$.
%p Your rego gets you three days of events.
%p Saturday: Trail, Beer, Circle, Dinner, Give-Away, Dancing
%p Sunday: Fatboy trail, beer, circle
%p Monday: Watch the Marathon at Mile 20 with some beer and food

%br

%p If you can get to Boston on Friday the 15th there will be a beer mile run on the Boston esplanade with a pub-crawl to follow!

%br

%p Questions? Email Orgasm Famine. orgasmfamine@gmail.com
