<div>
    <h4>Away kennels</h4>
<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?f=q&amp;hl=en&amp;geocode=&amp;ie=UTF8&amp;oe=UTF8&amp;s=AARTsJpDNeJJa1bb2VnZOCdb9WZ8Od10jw&amp;msa=0&amp;msid=110575863932306154755.00044e630802e1e545810&amp;ll=42.358544,-74.794922&amp;spn=7.792514,14.0625&amp;z=6&amp;output=embed"></iframe>
<br /><br />
<ul>
	<li>
		<a href="#" onclick="return toggle_section($(this));">Nearby Hashes</a>
		<div class="hidden">
			<br />
			<strong>Massachusetts</strong>
			<ul>
			<li><a href="http://www.bostonhash.com">Boston H3</a> meets weekly on Wednesdays in the summer months and on Sundays in the winter. It's the most active hash in the area.</li>
			<li><a href="http://cumbridgeh3.blogspot.com" target="_blank">Cumbridge H3</a> meets once a month on Fridays in Cambridge.</li>
			<li><a href="http://www.bostonmoon.com" target="_blank">Boston Moon H3</a> runs whenever the <a href="http://www.die.net/moon" target="_blank">moon is more or less full</a>.</li>
			<li><a href="http://www.pinktacoh3.com">Pink Taco Trotters</a> is a ladies-only Hash House Harriers kennel running trails out of Boston, MA. The regular runs for this kennel will be exclusively women only, however we will be inviting the boys to some of our annual events or special occasions (provided they dress in drag).</li>
			<li><a href="http://bostonhash.com/oldfahts">Boston Old Fahts</a> run when they remember to - and their runs will most likely be posted to the calendar.</li>
			<li><a href="http://sports.groups.yahoo.com/group/capecodh3" target="_blank">Cape Cod H3</a> is a shiggy loving hash located in Cape Cod, Massachusetts. They hash in the summer and their events are listed on the Boston H3 event calendar. They have a <a href="http://drink.to/capecodh3" target="_blank">website</a>, but they only put updates on the <a href="http://sports.groups.yahoo.com/group/capecodh3" target="_blank">CodH3 Yahoo Group</a>.</li>
			<li><a href="http://www.northboroh3.com" target="_blank">Northboro H3</a> is a bunch of people (mostly good-looking, suburban professionals and parents) who gather about once per month to take a strong dose of beer, exercise and laughter. Most all of our trails are between 3-6 miles, with 2 or more checks. We vary in age and running ability, from lean marathoners, to fat, slow joggers, to slothful, debaucherous walkers. We're active, fun-loving people that like to make new friends and are welcoming to new and old hashers from around the world.</li>
			<li><a href="http://dapittsh3.com" target="_blank">Da Pitts H3</a> runs in Pittsfield, MA. They hash every couple of weeks, mostly on Thursdays at 6pm HST.</li>
			<li><a href="http://www.happyvalleyh3.org" target="_blank">Happy Valley H3</a> is located in the Connecticut River Valley area of Western Massachusetts about 80 miles west of Boston, Massachusetts. They hash every other Thursday evening in the warmer months and every other Saturday or Sunday during the darker months. For updates visit their <a href="http://www.happyvalleyh3.org/">website</a>, check <a href="http://sports.groups.yahoo.com/group/happyvalleyh3/">yahoogroups</a> or call their hotline at (978)544-8604.</li>
			<li><a href="https://groups.google.com/forum/#!forum/e4b-h3" target="_blank">Eager 4 Beaver H3</a> hashes somewhere near Boston, sometimes. They hash, what more do you need to know? Check out their forum for more info.</li>
			<li><a href="http://www.poofh3.com" target="_blank">Pooflingers H3</a> hostes hashes with cheap beer, shiggy trails, and explores areas not previously hashed.</li>
			<li><a href="http://b3h4.com">Boston Ballbuster Hardcore H3</a> is a long-format trail kennel, hashing mostly in the Boston Metro area. Trails are a minimum of 6.9 miles, may have shiggy, and may not be near public transportation. They hash once a month on the third Saturday of the month at 10:30 HST, except when they don't.</li>
			</ul>
			<br />
			<strong>Maine</strong>	
			<ul>
			<li><a href="https://www.facebook.com/groups/PorMeH3/" target="_blank">PorMe H3</a> is a hash in Portland. Check out their facebook page for more info about their hashes. It's a closed group so you will have to request access.</li>
			</ul>
			<br />
			<strong>Connecticut</strong>
			<ul>
			<li><a href="http://hartfordh3.weebly.com">Hartford H3</a> hashes on the third Saturday of the month. They ran once in 2009 and allegedly have hashes lined up for the spring of 2010.</li>
			<li><a href="http://newhavenh3.com">New Haven H3</a> is notorious for its annual Hashmat Hash, commemorating the events of August 23, 2007, its founding year. On that date, kennel co-founder Dr. Gonad was cuffed and stuffed by the local constabulary after his shitty trail markings caused a bioterrorism scare. Dr. G has sensibly fled the country, but the New Haven Poison Ivy League kennel of the International Hash House Harriers lives on, with regular runs scheduled on Saturdays at 3pm.</li>
			</ul>
			<br />
			<strong>New Hampshire</strong>
			<ul>
			<li><a href="http://www.seacoasth3.com" target="_blank">Seacoast H3</a> runs out of Durham, NH which is a scenic hour and half drive from Boston. Seacoast H3 hashes are held every other Saturday throughout the year. Some Seacoasters regularly hash in Boston and some Boston Hashers regularly hash up there, so spam the list if you need a ride.</li>
			</ul>
			<br />
			<strong>Rhode Island</strong>
			<ul>
			<li><a href="http://rih3.com" target="_blank">RIH3</a> meet in a different location each week in Rhode Island or near Rhode Island in Massachusetts or Connecticut. They set trail every Monday evening at 6:30 year round.</li>
			</ul>
			<br />
			<strong>Vermont</strong>
			<ul>
			<li><a href="http://www.burlingtonhash.com" target="_blank">Burlington H3</a> is centered in the lovely frigid city of Burlington, VT. They hash on Wednesday evenings in the warmer months and tend not to hash in the colder months… but will if provoked.</li>
			</ul>
			<br />
			<strong>New York</strong>
			<ul>
			<li><a href="http://www.hmhhh.com" target="_blank">Halve Mein H3</a> is located in Southern Saratoga County New York and currently run every 2-3 weeks throughout the year. They hash anywhere within an hour or so of Albany, NY.</li>
			<li><a href="http://www.hashnyc.com" target="_blank">NYC H3</a> is the hash in New York City. New York is the city that never sleeps, luckily they are NOT the city that never hashes. Of course they hash! They have a couple of active groups hashing on different days. Check their site for more details.</li>
			</ul>
			<br />
			<strong>Washington DC</strong>
			<ul>
			<li><a href="http://www.dchashing.org" target="_blank">Washington DC</a> is home to one of the most active hashing communities you'll find outside of San Diego. You can run practically every day. Also, <a href="http://www.whitehousehash.com/rdr">White House H3</a> organizes the largest Red Dress Run in the country.</li>
			</ul>
			<br />
			<strong>Canda</strong>
			<ul>
			<li><a href="http://www.geocities.com/montrealhhh" target="_blank">Montreal H3</a> - Before you ask, yes they do hash in Canada and no, they do not accept Euros (yet) and they definitely don't take dollars! The Montreal H3 are based out of the historical city of Montreal in Quebec. These Cannucks hash every Sunday throughout the year at 1:00PM SHT (Standard Hash Time).</li>
			<li><a href="http://www.geocities.com/ottawa_hash" target="_blank">Ottawa H3</a> is located in the Canada's forgotten capitol. Ok, ok I know we said nearby hashes, but they are only about 8 hour drive from Boston and it is well worth the trip! They hash on Monday evenings at 7PM.</li>
			</ul>
		</div>
	</li>
	<li>
		<a href="#" onclick="return toggle_section($(this));">World Hash Directory</a>
		<div class="hidden">
			<br />
			<p>Every other year the World Interhash takes place at some random location around the world. It's a multi-day event hosted by hashers for hashers. Every GM present at the World Interhash votes on where the next one will be. But back to the topic at hand; at the World Interhash one of the giveaways is a book of all the hashes in the world. It contains contact information and where and when each hash sets trail. At the <a href="http://interhash2008.com">World Interhash in Perth</a>, they had the brilliant idea of distributing it on a CD. POM from Hawaii (RIP) posted his copy online for all to see, so Piss Stop downloaded it to post on this site. If you want to travel to hashes far, far away then forget Lonely Planet, this is the guide for you. <a href="http://bostonhash.wikidot.com/local--files/go-away/worldhashdirectory.pdf" target="_blank">Download it now</a>. It's a pretty large pdf of 3MB or so and it has over 100 pages… so it may take some time to download or view in your browser.</p>
		</div>
	</li>
</ul>
</div>


