<div class="content-box">
	<div class="pure-u-3-4">
          <div class="l-box">
              <h4 class="content-subhead">About the BH3</h4>

              <h3>Lorem ipsum dolor sit amet.</h3>
              <p>
                  Pellentesque hendrerit lobortis ornare. Fusce luctus imperdiet consequat. Nullam quis nunc quis ligula luctus vestibulum non quis libero. Suspendisse tristique nisl ut velit facilisis sit amet lobortis nulla pharetra.
              </p>
          </div>
      </div>
<%= render "partials/more_menu" %>
</div>

