<div>
    <h4>Habadashery</h4>
	<h3>Buy. Our. Stuff.</h3>
	<p>We have stuff.  You should buy it.  [Interesting trades considered.]</p>
	<p>More to come here but for now contact our haberdasher via <a href="mailto:haberdasher@bostonhash.com">haberdasher@bostonhash.com</a>.</p>
</div>


