<div>
    <h4>Join the email groups</h4>
	<h3>The Runs List</h3>
	<p>This is a low volume site for announcing runs (or parties, etc, if you want to invite the hash), posting write-ups of past runs, asking for rides to runs, and looking for lost items after the run. In other words important stuff. Try to avoid ongoing discussions or "me too" responses.</p>
<pre>
Website: <a href="http://groups.yahoo.com/group/bostonh3runs" target="_new">http://groups.yahoo.com/group/bostonh3runs</a>
Post message: <a href="mailto:bostonh3humor@yahoogroups.com">bostonh3humor@yahoogroups.com</a>
Subscribe: <a href="mailto:bostonh3runs-subscribe@yahoogroups.com">bostonh3runs-subscribe@yahoogroups.com</a>
Unsubscribe: <a href="mailto:bostonh3runs-unsubscribe@yahoogroups.com">bostonh3runs-unsubscribe@yahoogroups.com</a>
List owner: <a href="mailto:bostonh3runs-owner@yahoogroups.com">bostonh3runs-owner@yahoogroups.com</a>
</pre>
	<h3>The Humor List</h3>
	<p>The list is for jokes, etc. It is a relatively high volume site with a very low information content.</p>
<pre>
Website: <a href="http://groups.yahoo.com/group/bostonh3humor" target="_new">http://groups.yahoo.com/group/bostonh3humor</a>
Post message: <a href="mailto:bostonh3humor@yahoogroups.com">bostonh3humor@yahoogroups.com</a>
Subscribe: <a href="mailto:bostonh3humor-subscribe@yahoogroups.com">bostonh3humor-subscribe@yahoogroups.com</a>
Unsubscribe: <a href="mailto:bostonh3humor-unsubscribe@yahoogroups.com">bostonh3humor-unsubscribe@yahoogroups.com</a>
List owner: <a href="mailto:bostonh3humor-owner@yahoogroups.com">bostonh3humor-owner@yahoogroups.com</a>
</pre>
<!--  Shhh, the mismanagement list has chaned, saving this to update later...vp
	<h3>The MisManagement List</h3>
	<p>The third and final list! If you are roped into mismanagement, you will also be roped into this list.</p>
<pre>
Website: <a href="http://groups.yahoo.com/group/bostonh3mismanagement" target="_new">http://groups.yahoo.com/group/bostonh3mismanagement</a>
Post message: <a href="mailto:bostonh3mismanagement@yahoogroups.com">bostonh3mismanagement@yahoogroups.com</a>
Subscribe: <a href="mailto:bostonh3mismanagement-subscribe@yahoogroups.com">bostonh3mismanagement-subscribe@yahoogroups.com</a>
Unsubscribe: <a href="mailto:bostonh3mismanagement-unsubscribe@yahoogroups.com">bostonh3mismanagement-unsubscribe@yahoogroups.com</a>
List owner: <a href="mailto:bostonh3mismanagement-owner@yahoogroups.com">bostonh3mismanagement-owner@yahoogroups.com</a>
</pre>
-->
	<h3>Directions for using groups via email</h3>
	<p>To post a message, you must be subscribed to the group. To subscribe, click on the subscribe link or send email to the -subscribe address. The subject and content of the message are not important. To unsubscribe, click on the unsubscribe link or send email to the -unsubscribe address. Again, the subject and content of the message are not important. To unsubscribe using email, you must send the email from the same address that you subscribed with.</p>

	<h3>Directions for using groups via groups</h3>
	<p>Click on one of the "website" links. You will be asked to join one of the groups. If you already have a Yahoo ID, use it. Otherwise you will need to set up a yahoo ID (feel free to lie about any personal information, or use your hash name as your real name). When you join the group, you have the option of having email sent to you or simply reading the email on the web. If you subscribed via email (or had someone sign you up), you can "associate your email account with your group ID". This is a somewhat involved process requiring that you wait to receive an email from Yahoo with some sort of code. This can take up to 24 hours.</p>
</div>


