<div>
    <h4>Join the NEW EMAIL GROUP!</h4>
	<h3>The Runs List</h3>
	<p>Since Yahoo is killing off its groups and email lists, BH3 is moving to a Google group and email list. This is a low volume site for announcing runs (or parties, etc, if you want to invite the hash), posting write-ups of past runs, asking for rides to runs, and looking for lost items after the run. In other words important stuff. Try to avoid ongoing discussions or "me too" responses. To post a message, you must be subscribed to the group. </p>
<pre>
Website: <a href="https://groups.google.com/u/4/g/bh3-runs" target="_new">https://groups.google.com/u/4/g/bh3-runs</a>
Post message: <a href="mailto:bh3-runs@googlegroups.com">bh3-runs@googlegroups.com</a>
Subscribe: <a href="mailto:bh3-runs+subscribe@googlegroups.com">bh3-runs+subscribe@googlegroups.com</a>
Unsubscribe: <a href="mailto:bh3-runs+unsubscribe@googlegroups.com">bh3-runs+unsubscribe@googlegroups.com</a>
List owner: <a href="https://groups.google.com/d/contactowner/bh3-runs">https://groups.google.com/d/contactowner/bh3-runs</a>
</pre>
<!--  Shhh, the mismanagement list has chaned, saving this to update later...vp
	<h3>The MisManagement List</h3>
	<p>The third and final list! If you are roped into mismanagement, you will also be roped into this list.</p>
<pre>
Website: <a href="http://groups.yahoo.com/group/bostonh3mismanagement" target="_new">http://groups.yahoo.com/group/bostonh3mismanagement</a>
Post message: <a href="mailto:bostonh3mismanagement@yahoogroups.com">bostonh3mismanagement@yahoogroups.com</a>
Subscribe: <a href="mailto:bostonh3mismanagement-subscribe@yahoogroups.com">bostonh3mismanagement-subscribe@yahoogroups.com</a>
Unsubscribe: <a href="mailto:bostonh3mismanagement-unsubscribe@yahoogroups.com">bostonh3mismanagement-unsubscribe@yahoogroups.com</a>
List owner: <a href="mailto:bostonh3mismanagement-owner@yahoogroups.com">bostonh3mismanagement-owner@yahoogroups.com</a>
</pre>
-->
	<h3>Directions for using groups via email</h3>
	<p>To <strong>subscribe</strong>, click on the subscribe link or send an email to the +subscribe address. The subject and content of the message are not important. You will receive an email with a link to join the group. You must click the link in the email to confirm your subscription and select some options.</p>
	<p>To <strong>unsubscribe</strong>, click on the unsubscribe link or send an email to the +unsubscribe address. Again, the subject and content of the message are not important. To unsubscribe using email, you must send the email from the same address that you subscribed with.</p>
	<p>To <strong>send an email</strong> to the list, click on the post message link or send an email to bh3-runs@googlegroups.com with the subject and content that you want to send. The email address that you used to subscribe to the group must be the same email you use to send the email.</p>

	<h3>Directions for using groups via groups</h3>
	<p>To <strong>join the group</strong>, click on the website link and click the "Join Group" button to join the group. If you already have a Google account, use it. When you join, you will have the option of changing your display name by unlinking from your Google account profile. If you don't have a google account, you will need to set one up (feel free to lie about any personal information, or use your hash name as your real name).</p>
	<p>To <strong>leave the group</strong>, click on the website link, find "My membership settings" in the menu on the left, and click the "Leave group" button.</p>
	<p>To <strong>send a message</strong>, go to the group website and click the "New Conversation" button. Complete the form and click "Post message" to send the message.</p>
</div>


