<div>

  <h3>Boston Hash House Harriers Policy on Sexual Misconduct<h3>
      
<p>The Boston Hash aims to promote a safe and proactive hashing community. We take
maintaining a safe hashing environment seriously, provide resources to prevent and respond to
to misconduct, and support victims. As a group, we must look out for and support each other.
  Our goal is to maintain a safe environment where hashers can drink beer, relax, and have fun.</p>

<p>Sexual violence in any form will not be tolerated. The term sexual violence includes but is not
limited to non consensual sexual conduct or contact, verbal and physical threats, harassment,
  abuse, and non consensual photography.</p>

<p><span style='font-weight: bold'>Consent</span>​ is mutual, informed, specific, freely given, reversible, continuously evaluated, and is
absolutely required. No means no. The absence of no is not consent, nudity is not consent, and
consent given to someone else is not consent for you. Someone who is severely intoxicated
cannot give consent. If someone changes their mind they no longer consent. It is up to you to
  ask for and confirm enthusiastic consent, regardless of your age or gender.</p>

<p style='font-weight: bold'>If you violate this policy:</p>

<p>Hashing and crashing are privileges. Inappropriate behavior is subject to action at the GM’s
discretion. These actions may include warnings, suspension, removal from our Hash, removal
from crash space, or outreach to non-Boston GMs. Your tenure as a hasher or ‘respectability’ in
Boston are not factors in these matters. If you are a risk to others: you will no longer be
  welcome among us.<p>
	
<p style='font-weight: bold'>If you have been victimized or feel uncomfortable we are prepared to:</p>

<ul>
  <li>Listen and have your back</li>
  <li>Maintain your anonymity while informing someone their conduct was not ok</li>
  <li>Get you a buddy for trail</li>
  <li>Provide safe crash space</li>
  <li>Remove an attacker from your vicinity/the event/the hash</li>
  <li>Refer you to local support resources</li>
  <li>Accompany you to get medical attention</li>
  <li>Contact law enforcement at your request</li>
</ul>
    
<p style='font-weight: bold'>Who can you approach to get help?</p>

<p>Talk to a GM, member of the Support Crew, or hasher you trust. The support crew have
volunteered to help and have received some training in responding to disclosures and victim
support. Any member of MisManagement will be able to find you a support crew member who
you feel comfortable speaking with. You can also contact a local hotline or law enforcement.</p>

<ul>
  <li>Boston 24 Hour Crisis Hotline: 1-800-841-8371</li>
</ul>

<p>Support Crew: Our goal is to have a wide variety of hashers in the support crew since different
hashers may feel more comfortable with different types of people. If you want to volunteer to join
the support crew talk to a GM. If a member of the support crew is targeting you in any way call
  the hotline or talk to a GM.</p>

</div>
