<div>
  <h3>Quick Guide for Boston H3 Haring</h3>
  <p>Hare Raisers or GM’s will be happy to help you!</p>

  <h4>Trail Basics</h4>
  <ul>
    <li>Sign up for a date with the Hare Raisers!</li>
    <li>2-4 mile trail. 1-3 beer/shot checks; depends on weather and lighting.</li>
    <li>Each hasher pays $15. (Hares and bag car are free day-of, and bag cars get a free hash at their next BH3 trail). This covers trail beer, snacks, circle beer and dinner for the pack.</li>
    <li>Trails are either Sunday afternoon or Wednesday evenings depending on time of year.</li>
    <li>All BH3 trails begin & end within 1⁄2 mile of an MBTA stop.</li>
  </ul>

  <h4>Trail Planning Steps</h4>

  <h5>1. Select an On-In</h5>

  <p>The very first thing you should do is figure out your on-in. Where you end will
influence every other piece of your trail.</p>

  <ul>
    <li>Outdoor on-in’s are the cheapest since you can bring food/beer and get creative. Don’t have an outdoor on-in in freezing or crappy weather. Make sure your location is private
enough that we can circle up, sing, and drink with limited chance of people stumbling on
us.</li>
    <li>Indoor on-in’s might be BYOFood (or rarely BYOB) as a bonus. Plan accordingly and coordinate beforehand with indoor on-in locations.
      <ul>
        <li>Find pitchers %lt; $12, or pints &lt; $3</li>
        <li>Make sure we have a private space for circl</li>
	<li>Make sure food is affordable or make sure you can bring food in</li>
      </ul></li>
    <li>Ask the hare raisers for help on finding an on-in if you need it.</li>
  </ul>

  <h5>2. Figure out your Prelube and Scout your Trail</h5>

  <ul>
    <li>BH3 normally starts at a bar. Make sure the one you pick is open at the time you need it
and big enough for your expected pack size.</li>
    <li>Telling the bar you are coming ahead of time is recommended.</li>
    <li>The closer you start to a T stop the more people will show up for your trail.</li>
    <li>Scout! Preferably multiple times and in the lighting conditions/time of day of trail.</li>
    <li>Plan your beer check and possible shot check locations.</li>
    <li>If the trail you scout is 3 miles pack will probably run 4-5 miles on trail.</li>
  </ul>

  <h5>3. Advertise your Trail and Find a Bag Car</h5>

  <ul>
    <li>To find a bag car email the Boston runs group and post on Facebook asking for a
volunteer. If you have trouble finding one contact the Hare Raisers.</li>
    <li>Announce your trail early and often. Get trail info on the calendar as soon as you can via hare raisers. Aim to have at least a start location posted a week before your trail. Look at
previous announcements to get a better idea:
      <ul>
	<li>What: [Trail Name]</li>
        <li>When: [Date and Time]</li>
        <li>Where: [Pre-Lube Location, closest MBTA station]</li>
        <li>How Much: $15</li>
        <li>Who: [The hares’ names!]</li>
        <li>Bag Car: [Bag car’s name]</li>
        <li>Promises/Lies: [Humor us.]</li>
        <li>Indoor or Outdoor on-in? [People need to know]</li>
      </ul></li>
    <li>Hares send out via email trail announcements 1 week before, 3 days before and day-of
onto our email listserv at: bostonh3runs@yahoogroups.com</li>
    <li>Hares (or can ask the hare raisers to) create a group-only facebook event for the private
      ‘Boston Area Hashes’ facebook group. This helps with coordination.</li>
  </ul>
    
  <h4>Other Details</h4>

  <h5>Walkers’ Map</h5>
  <ul>
    <li>Prepare a walkers’ map or waypoints. It doesn’t have to be elaborate but it’s nice to
route them to beer checks to arrive at the same time as Pack. They don’t have to go to
      all the BC’s, SC’s, WC’s, etc.</li>
  </ul>
  
  <%= image_tag "bh3_haring_guide_table.png", class: "haring-guide-table"%>

  <h5>Trail Marks</h5>
  <ul>
    <li>Use chalk and/or colored flour that is easily visible on whatever surface you are marking.</li>
    <li>Use standard BH3 trail markings; 3 marks are on, F/YBF for false, X in a circle is a
check.</li>
    <li>Generally, two marks per block at a minimum.</li>
  </ul>
  
  <h5>Bag Car Prep</h5>
  <ul>
    <li>Bag car will be hauling the beer, food, gear, and everyone’s bags around. Make sure to
      coordinate with bag car and keep them in the loop.</li>
    <li>Prepare directions and/or locations for bag cars as-needed.</li>
    <li>Bag cars can be used to pick up prepared food or buy more beer, in a pinch. Just
      remember that beer checks will probably need the bag car to provide beer.</li>
    <li>Thank the bag car for being bag car and offer to bag car for them in return!</li>
  </ul>
  
  <h5>Food and Budgeting Hash Cash</h5>
  <ul>
    <li>Talk over your food and beer plan with the hash cash, hash accountant, or GM who is at
trail. They will help you with your food plan.</li>
    <li>Make sure you order your food before you arrive at the on-in. Always.</li>
    <li>If you are not ordering pizza make sure the food you are ordering comes to less than $5
      per person unless you have an outdoor on-in and a big pack. Then you can go to $7pp.</li>
  </ul>

  <h4>Any Further Questions: Please contact the Hare Raisers, or GM’s. We’re happy to help!</h4>


</div>
