<div>
  <h3>You drew the short straw and got suckered into haring...</h3>

  <h3>Quick Guide for Boston H3 Haring</h3>
  <p>Great! So you’re interested in haring and/or lust for having Pack at your mercy.</p>

  <h4>Trail Basics</h4>
  <ul>
    <li>3-5 mile trail. 1-3 beer/shot checks; depends on weather and lighting.</li>
    <li>Each hasher pays $15. (Hares and bag car are free day-of, and bag cars get a free hash at their next BH3 trail). This covers trail beer, snacks, circle beer and dinner for the pack.</li>
    <li>Trails begin & end within 1⁄2 mile of an MBTA stop.</li>
  </ul>

  <h4>Planning Trail</h4>
  <ul>
    <li>Do it. Preferably multiple times and in the lighting conditions/time of day of trail.</li>
  </ul>

  <h4>On-In Selection:</h4>
  <ul>
    <li>Outdoor on-in’s are the cheapest since you can bring food/beer and get creative. Don’t have an outdoor on-in in freezing or crappy weather.</li>
    <li>Indoor on-in’s might be BYOF (or rarely BYOB) as a bonus. Plan accordingly and coordinate beforehand with indoor on-in locations.</li>
    <li>Find pitchers < $12, or pints < $3</li>
    <li>Ask around for help on finding an OnIn if you need it.</li>
    <li>Announce if ONIN is indoor or outdoor in the announcement</li>
  </ul>

  <h4>Budgeting Hash Cash</h4>
  <ul>
    <li>Pick food that falls within the range of $3-$5 per hasher. If ordering pizza this works out to about $9-$15 per large pie and estimate 3 hashers per large pie.</li>
    <li>Plan 1 beer per person at BCs and 3+ (one pitcher) at ONIN</li>
    <li>Reimbursable items: hare chalk, Pack chalk, flour, BC beer, water, ice, and snacks, cups, other hash supplies etc.</li>
    <li>The day of the trail, the hash cash will be managed by the “Hash Cash” hasher who will collect cash and distribute and reimburse as-needed. Leftover hash cash goes to beer for circle and the remainder into the Boston H3 funds.</li>
  </ul>

  <h4>Announcing Trail</h4>
  <ul>
    <li>The hares should come up with and provide trail info in the following format. Get trail info on calendar as soon as you can via hare raisers. Look at previous announcements to get a better idea:</li>
    <li>What: [Trail Name]</li>
    <li>When: [Date and Time] Where: [Pre-Lube Location] [Closest MBTA Station] How Much: $15</li>
    <li>Who: [The hares’ names!] Bag Car: [Bag car’s name] Promises/Lies: [Humor us.]</li>
    <li>Hares send out via email trail announcements 1 week before, 3 days before and day-of onto our email listserv at: bostonh3runs@yahoogroups.com</li>
    <li>Hares (or can ask the hare raisers to) create a group-only facebook event for the private ‘Boston Area Hashes’ facebook group. This helps with coordination.</li>
  </ul>

  <h4>Walkers’ Map</h4>
  <ul>
    <li>Prepare a walkers’ map or waypoints. It doesn’t have to be elaborate but it’s nice to route them to beer checks to arrive at the same time as Pack. They don’t have to go to all the BC’s, SC’s, WC’s, etc.</li>
  </ul>

  <%= image_tag "bh3_haring_guide_table.png", class: "haring-guide-table"%>

  <h4>Trail Marks</h4>
  <ul>
    <li>Use chalk and/or colored flour that is easily visible on whatever surface you are marking.</li>
    <li>Use standard BH3 trail markings; 3 marks are on, F/YBF for false, X in a circle is a check.</li>
    <li>Generally, two marks per block at a minimum. Marks sholid be ~1.5ft in length and visible by Pack.</li>
  </ul>

  <h4>Bag Car</h4>
  <ul>
    <li>Bag car will be hauling the beer, food, gear, and everyone’s bags around. Make sure to coordinate with bag car and keep them in the loop.</li>
    <li>Prepare directions and/or locations for bag cars as-needed.</li>
    <li>Bag cars can be used to pick up prepared food or buy more beer, in a pinch. Just remember that beer checks will probably need the bag car to provide beer.</li>
    <li>Thank the bag car for being bag car and offer to bag car for them in return. ☺</li>
  </ul>

  <h4>Any Further Questions: Please contact the Trail Blesser (refer to Misman List) or experienced Boston Hashers. We’re happy to help.</h4>

</div>
