<h3 class="content-subhead">Special Events</h3>

<% @events.each do |event| %>
  <h3><%= link_to "#{event.name}", "events/#{event.url_code}" %></h3>
  <p><%= event.date.strftime("%B %d, %Y") %></p>
<% end %>
