<div>
	  <div>
            <div>
                <h4>Calendar</h4>
				<script type='text/javascript'>
				$(document).ready(function() {
					var calUrl = 'https://www.google.com/calendar/feeds/bostonhash%40gmail.com/public/basic';
				    $('#calendar').fullCalendar({
				        events: calUrl,
						defaultView: 'month',
					    eventClick: function(calEvent, jsEvent, view) {
					      if (calEvent.url) {
					            window.open(calEvent.url);
					            return false;
					        }
					    }
				    });
				
				    $('#mobile-calendar').fullCalendar({
				        events: calUrl,
						defaultView: 'basicWeek',
					    eventClick: function(calEvent, jsEvent, view) {
					      if (calEvent.url) {
					            window.open(calEvent.url);
					            return false;
					        }
					    }
				    });
				});
				</script>
				<div id="calendar" class="hidden-xs"></div>
				<div id="mobile-calendar" class="visible-xs"></div>
            </div>
        </div>
</div>

