<div>
	  <div>
            <div>
                <h4>Calendar</h4>
				<script type='text/javascript'>
				$(document).ready(function() {
					var calApiKey = 'AIzaSyC93cQGDRfpguqdsNMIEEYRKXeIZzcgr28';
					var calId = 'bostonhash@gmail.com';
				    $('#calendar').fullCalendar({
				        events: {
				        	googleCalendarApiKey: calApiKey,
            				googleCalendarId: calId
        				},
						defaultView: 'month',
					    eventClick: function(calEvent, jsEvent, view) {
					      if (calEvent.url) {
					            window.open(calEvent.url);
					            return false;
					        }
					    }
				    });
				
				    $('#mobile-calendar').fullCalendar({
				        events: {
				        	googleCalendarApiKey: calApiKey,
            				googleCalendarId: calId
        				},
						defaultView: 'basicWeek',
					    eventClick: function(calEvent, jsEvent, view) {
					      if (calEvent.url) {
					            window.open(calEvent.url);
					            return false;
					        }
					    }
				    });
				});
				</script>
				<div id="calendar" class="hidden-xs"></div>
				<div id="mobile-calendar" class="visible-xs"></div>
            </div>
        </div>
</div>

