
<div class="content-box">
	  <div class="pure-u-4-5">
            <div class="l-box">
                <h4 class="content-subhead">Calendar</h4>
				<script type='text/javascript'>
				// on mobile device only show 1 week
				var view = $isMobile.any() ? 'basicWeek' : 'month';
				$(document).ready(function() {
				    $('#calendar').fullCalendar({
				        events: 'https://www.google.com/calendar/feeds/bostonhash%40gmail.com/public/basic',
						defaultView: view,
					    eventClick: function(calEvent, jsEvent, view) {
					      if (calEvent.url) {
					            window.open(calEvent.url);
					            return false;
					        }
					    }
				    });
				});
				</script>
				
				<div id="calendar" class="l-box"></div>
            </div>
        </div>
</div>

