<h4 class="content-subhead">Events</h4>

<h3>Special events...</h3>
<p>
We host all kinds of special events like our Summer BBQ, Hashmas Holiday Party and of course our week long of events around the Boston M*arathon.  We'll update this page eventually.  For now check out our <%=link_to "calendar",calendar_path %> for more details on upcoming hashes and special events.
</p>

