<% content_for :splash do %>
<div class="splash">
    <div class="pure-g-r">
        <div class="pure-u-1-3">
            <div class="l-box splash-image">
                <img src="http://placehold.it/500x350"
                     alt="Placeholder image for example.">
            </div>
        </div>

        <div class="pure-u-2-3">
            <div class="l-box splash-text">
                <h1 class="splash-head">
                    We're the Boston Hash House Harriers
                </h1>

                <h2 class="splash-subhead">
                   Some sort of welcome message goes here.  When we're pimping marathon or some other even that can take over this space.  This box will be editable content.  Some kind of default BH3 logo should go left when there is no event on.
                </h2>

                <!-- <p>
                    <a href="#" class="pure-button primary-button">Get Started</a>
                </p> -->
            </div>
        </div>
    </div>
</div>
<% end %>
        <div class="pure-u-2-3">
            <div class="l-box">
                <h4 class="content-subhead">Join us on our next hash!</h4>
				<h3>The F**CK Boxes Trail</h3>
                <h4>When:  Wednesday September 4 - 6:30 PM (HST) </h4>
				<h4>Where: 237 Elm Street, Somerville MA</h4>
                <p>
                    Some description of the hash goes here.  Probably just a link to a longer description or maybe an expand to show more kind of thing...
                </p>
            </div>
        </div>

        <div class="pure-u-1-3">
            <div class="l-box">
<iframe width="400" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Davis+Square,+Somerville,+MA&amp;aq=0&amp;oq=davis+&amp;sll=42.395542,-71.103748&amp;sspn=0.070359,0.163078&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Davis+Square,+Somerville,+Middlesex,+Massachusetts&amp;z=14&amp;ll=42.396717,-71.122315&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Davis+Square,+Somerville,+MA&amp;aq=0&amp;oq=davis+&amp;sll=42.395542,-71.103748&amp;sspn=0.070359,0.163078&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Davis+Square,+Somerville,+Middlesex,+Massachusetts&amp;z=14&amp;ll=42.396717,-71.122315" style="color:#0000FF;text-align:left">View Larger Map</a></small>
            </div>
        </div>
