<% content_for :head do %>

<% end %>
        <div>
            <div>
                <h4 class="content-subhead">Join us on our next hash!</h4>

			           <h3>Hop on over to our <a href="/calendar">calendar</a> for more details!!</h3>
            </div>
        </div>

        <div class="full">
            <div>
				<div id="map-canvas"></div>
            </div>
        </div>
<% content_for :footer do %>

<% end %>