<h3 class="content-subhead">Huzzah!!</h3>
<p>
You did it!  You navigated the murky waters of internet payments and found your way back to us.
</p>
<p>We'll send a confirmation email to your PayPal address.  If you have any questions please contact mismanagement.</p>
