<div>
    <h4>Hash History</h4>

	<div id="page-content">


	<blockquote>
	<p><strong>ANCIENT HARRIERS</strong><br>
	Hash House Harrier roots extend back to the old English schoolboy game of "Hares and Hounds," in which some players, called "hounds," chase others, called "hares," who have left a trail of paper scraps along their route across fields, hedges, streams, bogs, and hills. One of the earliest Hares and Hounds events on record was the "Crick Run" at Rugby School in Warwickshire, England, first held in 1837. Hare and Hounds as an adult sport began in the fall of 1867 with a group of London oarsmen who wanted to keep fit during the winter. Also called "Paper Chasing" or the "Paper Chase," the game became very popular after its introduction on Wimbledon Common in 1868 by the Thames Hare and Hounds. Early clubs called themselves "Hare and Hounds" or simply "Harriers."</p>
	</blockquote>
	<blockquote>
	<p><strong>THE HASH IS BORN</strong><br>
	The Hash House Harriers as we know it today was founded in Malaya (now Malaysia) by Albert Stephen Ignatius Gispert, an English chartered accountant. It was sometime during 1937 when Gispert (or simply "G" as he was known to his friends) acquired a taste for the paper chase with the Springgit Harriers in Malacca (also in Malaya). Shortly after being transferred by his accounting firm to Kuala Lumpur he gathered together a number of fellow expatriate businessmen to form a harrier group. The first run was held in in December 1938 and the founding members included Cecil H. Lee, Frederick "Horse" Thomson, Eric Galvin, H.M. Doig, and Ronald "Torch" Bennet.</p>
	</blockquote>
	<blockquote>
	<p><strong>THE NAME "HASH"</strong><br>
	The group's name came about primarily because local authorities required legal registration of the club. While the "Kuala Lumpur Harriers" would have appeared a logical choice, "G" decided instead to use the nickname for the Selangor Club where a number of the local harriers both lived and took their meals. It seems that due to its lackluster food, the dining room was commonly referred to as the "Hash House."</p>
	</blockquote>
	<blockquote>
	<p><strong>HASH PHILOSOPHY</strong><br>
	The philosophy of the original Hash House Harriers from their 1938 charter is:</p>
	<ol>
	<li>To promote physical fitness among our members</li>
	<li>To get rid of weekend hangovers</li>
	<li>To acquire a good thirst and to satisfy it in beer</li>
	<li>To persuade the older members that they are not as old as they feel</li>
	</ol>
	</blockquote>
	<blockquote>
	<p><strong>MODERN HARRIERS</strong><br>
	Hashing in Kuala Lumpur was suspended during the World War II occupation by Japanese forces, but then reestablished after peace returned. It wasn't long before the hash began slowly spreading around the world. Former members of the original Hash House Harriers started a hash in 1947 near Milan, Italy, but it wasn't until 1962 that the next group was formed in Singapore. The Singapore Hash was gradually followed by others until in 1973 there were approximately 35 hashes in 14 countries. Subsequently, the hash began spreading like wildfire and the number of hashes soon climbed into the hundreds by the early 1980s. Today (1999) there are some 1,700 active hashes in over 180 countries, including approximately 350 in the United States. View a list of all the hashes in the world <a href="/hashdirectory">here</a>.</p>
	</blockquote>
	<p>provided courtesy of <a href="http://harrier.net/index2.html">Harrier Net</a></p>

	                    </div>
</div>


