<div>
    <h4>About the BH3</h4>

    <h3>Welcome to the BostonHash House Harriers</h3>
    <p>
We are the Boston Hash House Harriers!
    </p>
<p>
	We're part of the global Hash House Harriers.  If you're familiar with that, we're the Boston group.  If you're not - here's some info on what this is all about.  You also might want to learn a bit more about <%=link_to 'the history of hashing', controller: 'about', action: 'history'%>.
</p>
<h4>What is a hash?</h4>
<p>
	A 'hash' is in short a 'run'.  A 'hare' sets a trail using chalk or flour or some other stuff.  Everyone meets at a predetermined place, known as the 'prelube' and get some rudimentary instructions about the days trail.  
</p>
<p>A 'hash' involves a trail that is set by some unlucky group of hashers, typically a lead and some helpers. These poor sods are known as the 'hares'. This also leads to the use of the terms 'harriers' (male) and 'harriettes' (female) when referencing hashers in general. The trails themselves are anywhere between three and six miles long. Trail is typically marked in flour or chalk.</p>
<h4>When do you hash in Boston?</h4>
<p>We typically hash on Wednesday evenings in the warmer months and Sunday afternoons in the cooler ones.  But there are loads of exceptions, special events,etc so check <%=link_to 'our calendar', calendar_path %> or <%=link_to 'front page', root_path%> for next hash details.  You might also want to <%=link_to 'join our email list', more_path%> to get more frequent updates.</p>
<h4>How do I join?</h4>
<p>Just show up.  That's it really.  There are no annual dues.  There is no sign up.  We're a welcoming bunch.  Hash cash is somewhere between $5-$15 depending on what the trail entails and is usually collected at the start.</p>
</div>


