<div>
    <h4>Mismanagement</h4>
<p>The following unlucky wankers were democratically erected (like a deer in headlights) as Boston H3 Mismanagement. They are chosen mostly due to their lack of organizational skills, personal hygiene, and original excuses. Basically, these are the people that can you can blame for everything that goes wrong.</p>
<h5>Your 2012-2013 Mismanagement</h5>
<div class="table-responsive">
<table class="table table-bordered table-condensed">
<tbody><tr class="active">
<th>Position</th>
<th>Hasher</th>
</tr>
<tr>
<td>Grand Masters</td>
<td><a href="mailto:grandmattress@bostonhash.com">Oink Oink Ohhhh</a></span> &amp; <a href="mailto:grandmaster@bostonhash.com">Twat My Mom</a></span></td>
</tr>
<tr>
<td>Religious Advisors</td>
<td>THE 2nd Cumming &amp; Blubber F*cker</td>
</tr>
<tr>
<td>Hash Cash</td>
<td>Hare Club for Queers, <a href="mailto:hashcash@bostonhash.com">Nice Tits</a></span>, Spunk in the Trunk, &amp; High Anus</td>
</tr>
<tr>
<td>Scribe</td>
<td><a href="mailto:scribe@bostonhash.com">Wikipedophelia</a></span> &amp; Skull Fucker</td>
</tr>
<tr>
<td>Scribe Emeritus</td>
<td><a href="mailto:scribeemeritus@bostonhash.com">Cums Alone</a></span></td>
</tr>
<tr>
<td>Hareraiser</td>
<td><a href="mailto:hareraiser@bostonhash.com">Wikipedophelia</a></span> &amp; <a href="mailto:hareraiser@bostonhash.com">The Buttler Hit It</a></span></td>
</tr>
<tr>
<td>Hash Dementress</td>
<td>Ignorance is Piss, Harlot Globe Fondler &amp; Clit Notes</td>
</tr>
<tr>
<td>Marathon Chairs</td>
<td><a href="mailto:marathon@bostonhash.com">THE 2nd Cumming</a></span> &amp; <a href="mailto:marathon@bostonhash.com">Pubic Service Announcement</a></span></td>
</tr>
<tr>
<td>Holiday Chairs</td>
<td>Save a Tree, Ride a Cowboy &amp; Dirty Latte Sanchez</td>
</tr>
<tr>
<td>Beer Bitches</td>
<td>The Buttler Hit It &amp; Udder Whore</td>
</tr>
<tr>
<td>Haberdasher</td>
<td><a href="mailto:haberdasher@bostonhash.com">Willy Wonka and the Backdoor Factory</a></span>, Certified Poop Accuntant, &amp; Pappy van Tinkle</td>
</tr>
<tr>
<td>Webmeister</td>
<td><a href="mailto:webmeister@bostonhash.com">Velvet Pelvis</a></span> &amp; Piss Stop</td>
</tr>
<tr>
<td>Hash Ho</td>
<td>THE 2nd Cumming, Brokeback Baby, &amp; Snap Off</td>
</tr>
</tbody></table>
</div><!--end responsive table div -->
<ul>
	<li>
		<a href="#" onclick="return toggle_misman($(this));">Your 2011-2012 Mismanagement</a>
		<div class="table-responsive hidden">
			<br />
			<table class="table table-bordered table-condensed">
			<tbody><tr class="active">
			<th>Position</th>
			<th>Hasher</th>
			</tr>
			<tr>
			<td>Grand Masters</td>
			<td>Sketchy Ho &amp; <a href="mailto:grandmaster@bostonhash.com">Goat Throat</a></span></td>
			</tr>
			<tr>
			<td>Religious Advisors</td>
			<td>THE 2nd Cumming &amp; Krusty the Meat Miser</td>
			</tr>
			<tr>
			<td>Hash Cash</td>
			<td>Hare Club for Queers, Nice Tits, Spunk in the Trunk, &amp; High Anus</td>
			</tr>
			<tr>
			<td>Scribe</td>
			<td>Oink Oink Ohhh &amp; Vagina Dentata</td>
			</tr>
			<tr>
			<td>Scribe Emeritus</td>
			<td><a href="mailto:scribeemeritus@bostonhash.com">Cums Alone</a></span></td>
			</tr>
			<tr>
			<td>Hareraiser</td>
			<td>Senor Cocksucker</td>
			</tr>
			<tr>
			<td>Hash Dementress</td>
			<td>Clit Notes &amp; Certified Poop Acuntant</td>
			</tr>
			<tr>
			<td>Marathon Weekend</td>
			<td>Twat My Mom &amp; Bring Out the Gimp</td>
			</tr>
			<tr>
			<td>Holiday Party</td>
			<td>Miami Slut Machine &amp; Just Victoria</td>
			</tr>
			<tr>
			<td>Beer Bitches</td>
			<td>I Licked Butts &amp; The Buttler Hit It</td>
			</tr>
			<tr>
			<td>Haberdasher</td>
			<td>My Chemical Homance, Mexican Humping Queen, &amp; Willy Wonka and the Backdoor Factory</td>
			</tr>
			<tr>
			<td>Webmeister</td>
			<td>Velvet Pelvis &amp; <a href="mailto:pissstop@bostonhash.com">Piss Stop</a></span></td>
			</tr>
			<tr>
			<td>Hash Ho</td>
			<td>Spunk in the Trunk, THE 2nd Cumming &amp; Twat My Mom</td>
			</tr>
			</tbody></table>
		</div>
	</li>
	<li>
		<a href="#" onclick="return toggle_misman($(this));">Your 2010-2011 Mismanagement</a>
		<div class="table-responsive hidden">
			<br />
			<table class="table table-bordered table-condensed">
			<tbody><tr class="active">
			<th>Position</th>
			<th>Hasher</th>
			</tr>
			<tr>
			<td>Grand Masters</td>
			<td>The 2nd Cumming &amp; Dirty Latte Sanchez</td>
			</tr>
			<tr>
			<td>Religious Advisors</td>
			<td>Twat My Mom, Bend Over Mommy</td>
			</tr>
			<tr>
			<td><a href="mailto:hashcash@bostonhash.com">Hash Cash</a></span></td>
			<td>Hare Club for Queers, Nice Tits, Spunk in the Trunk, High Anus</td>
			</tr>
			<tr>
			<td><a href="mailto:scribe@bostonhash.com">Scribe</a></span></td>
			<td>Goes Down on Buoys</td>
			</tr>
			<tr>
			<td><a href="mailto:scribeemeritus@bostonhash.com">Scribe Emeritus</a></span></td>
			<td>Cums Alone</td>
			</tr>
			<tr>
			<td><a href="mailto:hareraiser@bostonhash.com">Hareraiser</a></span></td>
			<td>Goat Throat</td>
			</tr>
			<tr>
			<td>Hash Dementors</td>
			<td>Cum Locker &amp; Yellow Dick Gnome</td>
			</tr>
			<tr>
			<td>Hash Flash</td>
			<td>Bring Out the Gimp &amp; Master Gator</td>
			</tr>
			<tr>
			<td><a href="mailto:marathon@bostonhash.com">Marathon</a></span></td>
			<td>Maid of Honor &amp; X Marks My Twat</td>
			</tr>
			<tr>
			<td>Holiday Party</td>
			<td>Bondage Barbie &amp; Mexican Humping Queen</td>
			</tr>
			<tr>
			<td>Beer Bitches</td>
			<td>I Licked Butts &amp; The Buttler Hit It</td>
			</tr>
			<tr>
			<td><a href="mailto:haberdasher@bostonhash.com">Haberdasher</a></span></td>
			<td>My Chemical Homance &amp; Mexican Humping Queen</td>
			</tr>
			<tr>
			<td><a href="mailto:webmeister@bostonhash.com">Webmeister</a></span></td>
			<td>Velvet Pelvis &amp; Piss Stop</td>
			</tr>
			<tr>
			<td><a href="mailto:hashho@bostonhash.com">Hash Ho</a></span></td>
			<td>Spunk in the Trunk, Bondage Barbie, THE 2nd Cumming</td>
			</tr>
			<tr>
			<td>Hash Drunk</td>
			<td>Yankee Pay 5 Dollar More</td>
			</tr>
			</tbody></table>
		</div>
	</li>
	<li>
		<a href="#" onclick="return toggle_misman($(this));">Your 2009-2010 Mismanagement</a>
		<div class="table-responsive hidden">
			<br />
			<table class="table table-bordered table-condensed">
			<tbody><tr class="active">
			<th>Position</th>
			<th>Hasher</th>
			</tr>
			<tr>
			<td>Grand Masters</td>
			<td>[Bend Over Mommy] &amp; <a href="mailto:grandmaster@bostonhash.com">High Anus</a></span></td>
			</tr>
			<tr>
			<td>Religious Advisors</td>
			<td>The 2nd Cumming, Shawskank, &amp; Necrophiliac Jack</td>
			</tr>
			<tr>
			<td>[Hash Cash]</td>
			<td>Hare Club for Queers, Taj My Hole &amp; Nice Tits</td>
			</tr>
			<tr>
			<td>[Scribe]</td>
			<td>Maid of Honor &amp; Sugar Plum Fairy</td>
			</tr>
			<tr>
			<td>[Scribe Emeritus]</td>
			<td>Cums Alone</td>
			</tr>
			<tr>
			<td>[Hareraiser]</td>
			<td>Goes Down on Bouys</td>
			</tr>
			<tr>
			<td>Hash Dementors</td>
			<td>Beat By A Girl &amp; Jamaican Me Cum</td>
			</tr>
			<tr>
			<td>Hash Flash</td>
			<td>Better Late Than Pregnant</td>
			</tr>
			<tr>
			<td>[Marathon]</td>
			<td>Dirty Latte Sanchez &amp; Spank Me May I Have My Mother?</td>
			</tr>
			<tr>
			<td>Holiday Party</td>
			<td>Public Service Announcement &amp; Fire in the Hole</td>
			</tr>
			<tr>
			<td>Beer Bitches</td>
			<td>I Licked Butts &amp; Better Late Than Pregnant</td>
			</tr>
			<tr>
			<td>[Haberdasher]</td>
			<td>My Chemical Homance</td>
			</tr>
			<tr>
			<td>[Webmeister]</td>
			<td>Velvet Pelvis &amp; Piss Stop</td>
			</tr>
			<tr>
			<td>[Hash Ho]</td>
			<td>Nipples Erectus, Spunk in the Trunk, &amp; Cum is Kosher</td>
			</tr>
			<tr>
			<td>Hash Drunk</td>
			<td>Beat By a Girl</td>
			</tr>
			</tbody></table>
		</div>	
	</li>
	<li>
		<a href="#" onclick="return toggle_misman($(this));">Your 2008-2009 Mismanagement</a>
		<div class="table-responsive hidden">
			<br />
			<table class="table table-bordered table-condensed">
			<tbody><tr class="active">
			<th>Position</th>
			<th>Hasher</th>
			</tr>
			<tr>
			<td>Grand Masters</td>
			<td>Nice Tits &amp; Goes Down on Buoys</td>
			</tr>
			<tr>
			<td>Religious Advisors</td>
			<td>Crucifux &amp; Bend Over Mommy</td>
			</tr>
			<tr>
			<td>RA Emeritus</td>
			<td>The Fat One</td>
			</tr>
			<tr>
			<td>Hash Cash</td>
			<td>Hare Club for Queers &amp; Taj My Hole</td>
			</tr>
			<tr>
			<td>Scribes</td>
			<td>Jolly Green Vagina &amp; Fire in the Hole</td>
			</tr>
			<tr>
			<td>Scribe Emeritus</td>
			<td>Cums Alone</td>
			</tr>
			<tr>
			<td>Hare Raisers</td>
			<td>High Anus &amp; Spank Me May I Have My Mother?</td>
			</tr>
			<tr>
			<td>Hash Dementors</td>
			<td>G-String, Bi-Sexual Bondage Bitch, &amp; Catheter the Great</td>
			</tr>
			<tr>
			<td>Hash Flash</td>
			<td>Sucks Hard for the Money</td>
			</tr>
			<tr>
			<td>Marathon</td>
			<td>Piss Stop</td>
			</tr>
			<tr>
			<td>Holiday Party</td>
			<td>Save a Tree Ride a Cowboy &amp; Stretch Pussy</td>
			</tr>
			<tr>
			<td>Beer Bitches</td>
			<td>Pubic Service Announcement &amp; Hiscocksin</td>
			</tr>
			<tr>
			<td>Haberdashers</td>
			<td>Head Master &amp; My Chemical Homance</td>
			</tr>
			<tr>
			<td>Web Meisters</td>
			<td>Velvet Pelvis &amp; Piss Stop</td>
			</tr>
			<tr>
			<td>Hash Hoes</td>
			<td>Nipples Erectus, Spunk in the Trunk, &amp; Cum is Kosher</td>
			</tr>
			<tr>
			<td>Hash Drunk</td>
			<td>Beat By a Girl</td>
			</tr>
			</tbody></table>
		</div>
	</li>
	<li>
		<a href="#" onclick="return toggle_misman($(this));">Your 2007-2008 Mismanagement</a>
		<div class="table-responsive hidden">
			<br />
			<table class="table table-bordered table-condensed">
			<tbody><tr class="active">
			<th>Position</th>
			<th>Hasher</th>
			</tr>
			<tr>
			<td>Grand Master</td>
			<td>Drippy Spigot &amp; Nipples Erectus</td>
			</tr>
			<tr>
			<td>Hare Raiser</td>
			<td>Stick it to the Bros</td>
			</tr>
			<tr>
			<td>Religious Advisor</td>
			<td>Cuffed, Stuffed and in the Buff</td>
			</tr>
			<tr>
			<td>Hash Dementor</td>
			<td>Floppy Dick, Catheder the Great &amp; Peppermint Pussy</td>
			</tr>
			<tr>
			<td>Hash Cash</td>
			<td>Hare Club For Queers &amp; Shorn Scrotum</td>
			</tr>
			<tr>
			<td>Hash Scribe</td>
			<td>Cums Alone, Deep Black Hole &amp; Welcum Wagon</td>
			</tr>
			<tr>
			<td>Hash Ho</td>
			<td>Mutton Drapes &amp; Holy Ozone</td>
			</tr>
			<tr>
			<td>Web Meister</td>
			<td>Velvet Pelvis &amp; Shorn Scrotum</td>
			</tr>
			<tr>
			<td>Hash Haberdasher</td>
			<td>HeadMaster</td>
			</tr>
			<tr>
			<td>Beer Bitches</td>
			<td>Spunk in the Trunk &amp; Dude Where's My Virginity</td>
			</tr>
			<tr>
			<td>Holiday Party</td>
			<td>Nice Tits &amp; Save a Tree Ride a Cowboy</td>
			</tr>
			<tr>
			<td>Marathon</td>
			<td>Goes Down on Buoys &amp; Piss Stop</td>
			</tr>
			</tbody></table>
		</div>
	</li>
</ul>
</div>


