/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
       font-family: "proxima-nova", sans-serif;
}

pre {
  overflow:auto;
  font-family: sans-serif;
  padding-left: 7px;
}

#map-canvas{
  height:400px;
  width:100%
}

.haring-guide-table{
  width: 60%;
}

.centered {
  text-align: center;
}

.marathon-image {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

/* need this pre stuff so pre tags don't do scrollbars on diff browsers */
pre {
 white-space: pre-wrap !important;       /* css-3 */
 white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
 white-space: -pre-wrap !important;      /* Opera 4-6 */
 white-space: -o-pre-wrap !important;    /* Opera 7 */
 word-wrap: break-word !important;       /* Internet Explorer 5.5+ */
 word-break: normal !important;
}
