/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.top-menu {
	padding:0;
	margin: 0;
	border-bottom: 1px solid #b7b7b7 !important;
	width: 100%;
	height: 55px;
	display:table;
}

.top-menu-ul{
	display: table-cell !important;
}

.pure-menu-selected a {
	color: #E20825 !important;
}

pre {
	overflow:auto;
	font-family: sans-serif;
	padding-left: 7px;
}