/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.pure-menu-selected a {
	color: #E20825 !important;
}

/*
*	This will force the full calendar to scroll under the header as opposted to over it
*/
.header {
	position:absolute;
	z-index: 10;
}

pre {
	overflow:auto;
	font-family: sans-serif;
	padding-left: 7px;
}