<script type="text/javascript" src="https://panzi.github.io/Browser-Ponies/basecfg.js" id="browser-ponies-config"></script><script type="text/javascript" src="https://panzi.github.io/Browser-Ponies/browserponies.js" id="browser-ponies-script"></script><script type="text/javascript">/* <![CDATA[ */ (function (cfg) {BrowserPonies.setBaseUrl(cfg.baseurl);BrowserPonies.loadConfig(BrowserPoniesBaseConfig);BrowserPonies.loadConfig(cfg);})({"baseurl":"https://panzi.github.io/Browser-Ponies/","fadeDuration":500,"volume":1,"fps":25,"speed":3,"audioEnabled":false,"showFps":false,"showLoadProgress":true,"speakProbability":0.1,"spawn":{"applejack":1,"fluttershy":1,"pinkie pie":1,"rainbow dash":1,"rarity":1,"twilight sparkle":1},"autostart":true}); /* ]]> */</script>

<h1>Space Unicorn Hash</h1>
<h3><%= link_to "Rego Now!", space_unicorn_rego_path %><h3>
<h3>Sat, Nov 8th</h3>
  <p>Welcome to the registration for the 2014 Space Unicorn Moons of Saturn Hash</p>
  </br>
  <p>Rego is $55 and includes:</br>
      13 beer checks</br>
      13 space unicorn pins - GOTTA CATCH 'EM ALL</br>
      13 unique miles of space unicorn magic</br>
      1 Amazing giveaway </br>
      "HARLOT win wons the interntet!!"</br></p>
  <p>What: Space Unicorns H3 Moons of Saturn Hash</p>
  <p>When: November 8th, 10:00AM, HST -> 9PM (ish, it's an all day affair, lunch and dinner will be provided)</p>
  <p>Where: Boston, MA</p>
  </br>
  <p>NOTE: Rego's after October 20th, will not be garunteed a give-away.</p>
  <p>Also, remember to choose "friends and family" to avoid pay-pal fees, you know, more money for beer!!</p>
  </br>
  <p>After careful consideration - and serious surprise at how quickly that rego sheet is filling up - the Space Unicorn Planning Committee has decided to cap the rego at the sacred number: 69.  A million unicorn-tears for imposing rules, but it is really hard to hide a mob of drunks--neigh*, hashers!--of even that size, let alone any larger, in semi-public for 13 miles. In this manner we hope to contain the *please imagine Buttler now* raaaaaaage.</p>
  <p>Once the cap is hit we will create a First-Cum-First-Serve (FIFO) waiting list, which we will gladly put you on. It's viewable (now!) on Sheet 2 of Who's Cumming!</p>
  </br>
  <p>- The Space Unicorns</p>
  </br>
  <p>Any question contact:</p>
  <p><a href="mailto:honey.my.badget@gmail.com">CPA</a>
  <p><a href="mailto:wikipedophilia@yahoo.com">Wiki</a>
<h3><%= link_to "Rego Now!", space_unicorn_rego_path %><h3>
<p>Who's Cumming</p>
<iframe height="600em" width="550em" src="https://docs.google.com/spreadsheets/d/12LdQhIzx34496l05VwrJYzea5xOxKM1u6RaaEhTv95k/pubhtml?widget=true&amp;headers=false"></iframe>
<p>Note that the PAID column is updated manually.</p>