<h5>Your 2018-2019 Mismanagement</h5>
<div class="table-responsive">
<table class="table table-bordered table-condensed">
<tbody><tr class="active">
<th>Position</th>
<th>Hasher</th>
</tr>
<tr>
<td>Grand Masters</td>
<td>Blondie McFucksalot &amp; Swedish Eagle</td>
</tr>
<tr>
<td>Religious Advisors</td>
<td>Quarter Mile Queer, Wikipedophelia, Bottom Wrangler, Yellow Dick Gnome</td>
</tr>
<tr>
<td>Hash Cash</td>
<td>Vagibond Molly, Wikipedophelia, Sex the Final Frontier, Shart of Darkness</td>
</tr>
<tr>
<td>Hash Accounts</td>
<td>Fellowship of the Cock Ring, Udder Whore</td>
</tr>
<tr>
<td>Hareraiser</td>
<td>Quarter Mile Queer, Shits and Ladders, Whore's Box</td>
</tr>
<tr>
<td>Hash Dementor/ess</td>
<td>Po Po Peepshow, Yellow Dick Gnome</td>
</tr>
<tr>
<td>Marathon Chairs</td>
<td>O’bone'R, Chunderellie Chunderellie</td>
</tr>
<tr>
<td>Holiday Chairs</td>
<td>Message a Trois, Cuntcussion</td>
</tr>
<tr>
<td>Beer Bitch</td>
<td>The Buttler Hit It</td>
</tr>
<tr>
<td>Haberdasher</td>
<td>Orgasm Famine</td>
</tr>
<tr>
<td>Webmeister</td>
<td>Velvet Pelvis, Clit Notes</td>
</tr>
</tbody></table>
</div><!--end responsive table div -->
