	<a href="#" onclick="return toggle_section($(this));">When One GM Drinks, They All Drink!</a>
		<div class="table-responsive hidden">
			<br />
			<table class="table table-bordered table-condensed">
			<tbody><tr class="active">
			<th>Year</th>
			<th>Name of Wicked Old GM</th>
			</tr>
      <tr>
      <td>2014-2015</td>
      <td>Yellow Dick Gnome & Can't Eat Pussy</td>
      </tr>
      <tr>
      <td>2013-2014</td>
      <td>+2 Coonass & Señor Cocksucker</td>
      </tr>
			<tr>
			<td>2012-2013</td>
			<td>Oink Oink Ohhhh &amp; Twat My Mom</td>
			</tr>
			<tr>
			<td>2011 - 2012</td>
			<td>Sketchy Ho &amp; Goat Throat</td>
			</tr>
			<tr>
			<td>2010 - 2011</td>
			<td>The 2nd Cumming &amp; Dirty Latte Sanchez</td>
			</tr>
			<tr>
			<td>2009 - 2010</td>
			<td>Bend Over Mommy &amp; High Anus</td>
			</tr>
			<tr>
			<td>2008 - 2009</td>
			<td>Nice Tits &amp; Goes Down on Buoys</td>
			</tr>
			<tr>
			<td>2007 - 2008</td>
			<td>Nipples Erectus &amp; Drippy Spigot</td>
			</tr>
			<tr>
			<td>2006 - 2007</td>
			<td>Shorn Scrotum &amp; General Ass Pounder</td>
			</tr>
			<tr>
			<td>2005 - 2006</td>
			<td>Puff N Stuff &amp; Harpoontang</td>
			</tr>
			<tr>
			<td>2004 - 2005</td>
			<td>Hare Club for Queers &amp; Velvet Pelvis</td>
			</tr>
			<tr>
			<td>2003 - 2004</td>
			<td>Ching Ching &amp; Master Gator</td>
			</tr>
			<tr>
			<td>2002 - 2003</td>
			<td>Creamwhora &amp; Snoreplay</td>
			</tr>
			<tr>
			<td>2001 - 2002</td>
			<td>Anal Avenger &amp; The Jizzmoppa</td>
			</tr>
			<tr>
			<td>2000 - 2001</td>
			<td>Wintoes 69 &amp; Man’s Best Friend</td>
			</tr>
			<tr>
			<td>1999 - 2000</td>
			<td>Wolfgang von Blitzf*cker &amp; Squirrel Dick</td>
			</tr>
			<tr>
			<td>1998 - 1999</td>
			<td>Hare Apparent &amp; Little Dead Birds Covered In Oil</td>
			</tr>
			<tr>
			<td>1997 - 1998</td>
			<td>Dribbles &amp; Stones</td>
			</tr>
			<tr>
			<td>1996 - 1997</td>
			<td>Ski Bobbit &amp; Dribbles</td>
			</tr>
			<tr>
			<td>1995 - 1996</td>
			<td>Pocket Rocket &amp; Ski Bobbit</td>
			</tr>
			<tr>
			<td>1994 - 1995</td>
			<td>Stuffed Upper Nips</td>
			</tr>
			<tr>
			<td>1993 - 1994</td>
			<td>Junk Bondage &amp; Tim Dempsey</td>
			</tr>
			<tr>
			<td>1992 - 1993</td>
			<td>Rectal</td>
			</tr>
			<tr>
			<td>1992 - 1993</td>
			<td>Watergate</td>
			</tr>
			<tr>
			<td>1991 - 1992</td>
			<td>Vax Headroom</td>
			</tr>
			<tr>
			<td>1989 - 1991</td>
			<td>Call Girl</td>
			</tr>
			<tr>
			<td>1986 - 1989</td>
			<td>The Gatekeeper</td>
			</tr>
			<tr>
			<td>1985 - 1986</td>
			<td>Ernie Hayes</td>
			</tr>
			<tr>
			<td>1984 - 1985</td>
			<td>Steve Sullivan</td>
			</tr>
			<tr>
			<td>1983 - 1984</td>
			<td>Mary Lee Walsh</td>
			</tr>
			<tr>
			<td>1982 - 1983</td>
			<td>Mark Campbell</td>
			</tr>
			<tr>
			<td>1981 - 1982</td>
			<td>Bob MacDonald</td>
			</tr>
			<tr>
			<td>1980 - 1981</td>
			<td>Roger Cogswell</td>
			</tr>
			<tr>
			<td>1979 - 1980</td>
			<td>Lou Ellen MacDonald</td>
			</tr>
			<tr>
			<td>1978 - 1979</td>
			<td>Bob Romeri</td>
			</tr>
			<tr>
			<td>1977 - 1978</td>
			<td>Larry Hurst</td>
			</tr>
			<tr>
			<td>1976 - 1977</td>
			<td>John Deming</td>
			</tr>
			<tr>
			<td>1976</td>
			<td>Bob Wood &amp; Peter Hobbs</td>
			</tr>
			</tbody></table>
		</div>