<a href="#" onclick="return toggle_section($(this));">Your 2007-2008 Mismanagement</a>
		<div class="table-responsive hidden">
			<br />
			<table class="table table-bordered table-condensed">
			<tbody><tr class="active">
			<th>Position</th>
			<th>Hasher</th>
			</tr>
			<tr>
			<td>Grand Master</td>
			<td>Drippy Spigot &amp; Nipples Erectus</td>
			</tr>
			<tr>
			<td>Hare Raiser</td>
			<td>Stick it to the Bros</td>
			</tr>
			<tr>
			<td>Religious Advisor</td>
			<td>Cuffed, Stuffed and in the Buff</td>
			</tr>
			<tr>
			<td>Hash Dementor</td>
			<td>Floppy Dick, Catheder the Great &amp; Peppermint Pussy</td>
			</tr>
			<tr>
			<td>Hash Cash</td>
			<td>Hare Club For Queers &amp; Shorn Scrotum</td>
			</tr>
			<tr>
			<td>Hash Scribe</td>
			<td>Cums Alone, Deep Black Hole &amp; Welcum Wagon</td>
			</tr>
			<tr>
			<td>Hash Ho</td>
			<td>Mutton Drapes &amp; Holy Ozone</td>
			</tr>
			<tr>
			<td>Web Meister</td>
			<td>Velvet Pelvis &amp; Shorn Scrotum</td>
			</tr>
			<tr>
			<td>Hash Haberdasher</td>
			<td>HeadMaster</td>
			</tr>
			<tr>
			<td>Beer Bitches</td>
			<td>Spunk in the Trunk &amp; Dude Where's My Virginity</td>
			</tr>
			<tr>
			<td>Holiday Party</td>
			<td>Nice Tits &amp; Save a Tree Ride a Cowboy</td>
			</tr>
			<tr>
			<td>Marathon</td>
			<td>Goes Down on Buoys &amp; Piss Stop</td>
			</tr>
			</tbody></table>
		</div>