		<a href="#" onclick="return toggle_section($(this));">Your 2008-2009 Mismanagement</a>
		<div class="table-responsive hidden">
			<br />
			<table class="table table-bordered table-condensed">
			<tbody><tr class="active">
			<th>Position</th>
			<th>Hasher</th>
			</tr>
			<tr>
			<td>Grand Masters</td>
			<td>Nice Tits &amp; Goes Down on Buoys</td>
			</tr>
			<tr>
			<td>Religious Advisors</td>
			<td>Crucifux &amp; Bend Over Mommy</td>
			</tr>
			<tr>
			<td>RA Emeritus</td>
			<td>The Fat One</td>
			</tr>
			<tr>
			<td>Hash Cash</td>
			<td>Hare Club for Queers &amp; Taj My Hole</td>
			</tr>
			<tr>
			<td>Scribes</td>
			<td>Jolly Green Vagina &amp; Fire in the Hole</td>
			</tr>
			<tr>
			<td>Scribe Emeritus</td>
			<td>Cums Alone</td>
			</tr>
			<tr>
			<td>Hare Raisers</td>
			<td>High Anus &amp; Spank Me May I Have My Mother?</td>
			</tr>
			<tr>
			<td>Hash Dementors</td>
			<td>G-String, Bi-Sexual Bondage Bitch, &amp; Catheter the Great</td>
			</tr>
			<tr>
			<td>Hash Flash</td>
			<td>Sucks Hard for the Money</td>
			</tr>
			<tr>
			<td>Marathon</td>
			<td>Piss Stop</td>
			</tr>
			<tr>
			<td>Holiday Party</td>
			<td>Save a Tree Ride a Cowboy &amp; Stretch Pussy</td>
			</tr>
			<tr>
			<td>Beer Bitches</td>
			<td>Pubic Service Announcement &amp; Hiscocksin</td>
			</tr>
			<tr>
			<td>Haberdashers</td>
			<td>Head Master &amp; My Chemical Homance</td>
			</tr>
			<tr>
			<td>Web Meisters</td>
			<td>Velvet Pelvis &amp; Piss Stop</td>
			</tr>
			<tr>
			<td>Hash Hoes</td>
			<td>Nipples Erectus, Spunk in the Trunk, &amp; Cum is Kosher</td>
			</tr>
			<tr>
			<td>Hash Drunk</td>
			<td>Beat By a Girl</td>
			</tr>
			</tbody></table>
		</div>