	<a href="#" onclick="return toggle_section($(this));">Your 2009-2010 Mismanagement</a>
		<div class="table-responsive hidden">
			<br />
			<table class="table table-bordered table-condensed">
			<tbody><tr class="active">
			<th>Position</th>
			<th>Hasher</th>
			</tr>
			<tr>
			<td>Grand Masters</td>
			<td>[Bend Over Mommy] &amp; <a href="mailto:grandmaster@bostonhash.com">High Anus</a></span></td>
			</tr>
			<tr>
			<td>Religious Advisors</td>
			<td>The 2nd Cumming, Shawskank, &amp; Necrophiliac Jack</td>
			</tr>
			<tr>
			<td>[Hash Cash]</td>
			<td>Hare Club for Queers, Taj My Hole &amp; Nice Tits</td>
			</tr>
			<tr>
			<td>[Scribe]</td>
			<td>Maid of Honor &amp; Sugar Plum Fairy</td>
			</tr>
			<tr>
			<td>[Scribe Emeritus]</td>
			<td>Cums Alone</td>
			</tr>
			<tr>
			<td>[Hareraiser]</td>
			<td>Goes Down on Bouys</td>
			</tr>
			<tr>
			<td>Hash Dementors</td>
			<td>Beat By A Girl &amp; Jamaican Me Cum</td>
			</tr>
			<tr>
			<td>Hash Flash</td>
			<td>Better Late Than Pregnant</td>
			</tr>
			<tr>
			<td>[Marathon]</td>
			<td>Dirty Latte Sanchez &amp; Spank Me May I Have My Mother?</td>
			</tr>
			<tr>
			<td>Holiday Party</td>
			<td>Public Service Announcement &amp; Fire in the Hole</td>
			</tr>
			<tr>
			<td>Beer Bitches</td>
			<td>I Licked Butts &amp; Better Late Than Pregnant</td>
			</tr>
			<tr>
			<td>[Haberdasher]</td>
			<td>My Chemical Homance</td>
			</tr>
			<tr>
			<td>[Webmeister]</td>
			<td>Velvet Pelvis &amp; Piss Stop</td>
			</tr>
			<tr>
			<td>[Hash Ho]</td>
			<td>Nipples Erectus, Spunk in the Trunk, &amp; Cum is Kosher</td>
			</tr>
			<tr>
			<td>Hash Drunk</td>
			<td>Beat By a Girl</td>
			</tr>
			</tbody></table>
		</div>	