		<a href="#" onclick="return toggle_section($(this));">Your 2010-2011 Mismanagement</a>
		<div class="table-responsive hidden">
			<br />
			<table class="table table-bordered table-condensed">
			<tbody><tr class="active">
			<th>Position</th>
			<th>Hasher</th>
			</tr>
			<tr>
			<td>Grand Masters</td>
			<td>The 2nd Cumming &amp; Dirty Latte Sanchez</td>
			</tr>
			<tr>
			<td>Religious Advisors</td>
			<td>Twat My Mom, Bend Over Mommy</td>
			</tr>
			<tr>
			<td><a href="mailto:hashcash@bostonhash.com">Hash Cash</a></span></td>
			<td>Hare Club for Queers, Nice Tits, Spunk in the Trunk, High Anus</td>
			</tr>
			<tr>
			<td><a href="mailto:scribe@bostonhash.com">Scribe</a></span></td>
			<td>Goes Down on Buoys</td>
			</tr>
			<tr>
			<td><a href="mailto:scribeemeritus@bostonhash.com">Scribe Emeritus</a></span></td>
			<td>Cums Alone</td>
			</tr>
			<tr>
			<td><a href="mailto:hareraiser@bostonhash.com">Hareraiser</a></span></td>
			<td>Goat Throat</td>
			</tr>
			<tr>
			<td>Hash Dementors</td>
			<td>Cum Locker &amp; Yellow Dick Gnome</td>
			</tr>
			<tr>
			<td>Hash Flash</td>
			<td>Bring Out the Gimp &amp; Master Gator</td>
			</tr>
			<tr>
			<td><a href="mailto:marathon@bostonhash.com">Marathon</a></span></td>
			<td>Maid of Honor &amp; X Marks My Twat</td>
			</tr>
			<tr>
			<td>Holiday Party</td>
			<td>Bondage Barbie &amp; Mexican Humping Queen</td>
			</tr>
			<tr>
			<td>Beer Bitches</td>
			<td>I Licked Butts &amp; The Buttler Hit It</td>
			</tr>
			<tr>
			<td><a href="mailto:haberdasher@bostonhash.com">Haberdasher</a></span></td>
			<td>My Chemical Homance &amp; Mexican Humping Queen</td>
			</tr>
			<tr>
			<td><a href="mailto:webmeister@bostonhash.com">Webmeister</a></span></td>
			<td>Velvet Pelvis &amp; Piss Stop</td>
			</tr>
			<tr>
			<td><a href="mailto:hashho@bostonhash.com">Hash Ho</a></span></td>
			<td>Spunk in the Trunk, Bondage Barbie, THE 2nd Cumming</td>
			</tr>
			<tr>
			<td>Hash Drunk</td>
			<td>Yankee Pay 5 Dollar More</td>
			</tr>
			</tbody></table>
		</div>