		<a href="#" onclick="return toggle_section($(this));">Your 2011-2012 Mismanagement</a>
		<div class="table-responsive hidden">
			<br />
			<table class="table table-bordered table-condensed">
			<tbody><tr class="active">
			<th>Position</th>
			<th>Hasher</th>
			</tr>
			<tr>
			<td>Grand Masters</td>
			<td>Sketchy Ho &amp; <a href="mailto:grandmaster@bostonhash.com">Goat Throat</a></span></td>
			</tr>
			<tr>
			<td>Religious Advisors</td>
			<td>THE 2nd Cumming &amp; Krusty the Meat Miser</td>
			</tr>
			<tr>
			<td>Hash Cash</td>
			<td>Hare Club for Queers, Nice Tits, Spunk in the Trunk, &amp; High Anus</td>
			</tr>
			<tr>
			<td>Scribe</td>
			<td>Oink Oink Ohhh &amp; Vagina Dentata</td>
			</tr>
			<tr>
			<td>Scribe Emeritus</td>
			<td><a href="mailto:scribeemeritus@bostonhash.com">Cums Alone</a></span></td>
			</tr>
			<tr>
			<td>Hareraiser</td>
			<td>Senor Cocksucker</td>
			</tr>
			<tr>
			<td>Hash Dementress</td>
			<td>Clit Notes &amp; Certified Poop Acuntant</td>
			</tr>
			<tr>
			<td>Marathon Weekend</td>
			<td>Twat My Mom &amp; Bring Out the Gimp</td>
			</tr>
			<tr>
			<td>Holiday Party</td>
			<td>Miami Slut Machine &amp; Just Victoria</td>
			</tr>
			<tr>
			<td>Beer Bitches</td>
			<td>I Licked Butts &amp; The Buttler Hit It</td>
			</tr>
			<tr>
			<td>Haberdasher</td>
			<td>My Chemical Homance, Mexican Humping Queen, &amp; Willy Wonka and the Backdoor Factory</td>
			</tr>
			<tr>
			<td>Webmeister</td>
			<td>Velvet Pelvis &amp; <a href="mailto:pissstop@bostonhash.com">Piss Stop</a></span></td>
			</tr>
			<tr>
			<td>Hash Ho</td>
			<td>Spunk in the Trunk, THE 2nd Cumming &amp; Twat My Mom</td>
			</tr>
			</tbody></table>
		</div>