		<a href="#" onclick="return toggle_section($(this));">Your 2012-2013 Mismanagement</a>
		<div class="table-responsive hidden">
		<br />
		<table class="table table-bordered table-condensed">
		<tbody><tr class="active">
		<th>Position</th>
		<th>Hasher</th>
		</tr>
		<tr>
		<td>Grand Masters</td>
		<td><a href="mailto:grandmattress@bostonhash.com">Oink Oink Ohhhh</a></span> &amp; <a href="mailto:grandmaster@bostonhash.com">Twat My Mom</a></span></td>
		</tr>
		<tr>
		<td>Religious Advisors</td>
		<td>THE 2nd Cumming &amp; Blubber F*cker</td>
		</tr>
		<tr>
		<td>Hash Cash</td>
		<td>Hare Club for Queers, <a href="mailto:hashcash@bostonhash.com">Nice Tits</a></span>, Spunk in the Trunk, &amp; High Anus</td>
		</tr>
		<tr>
		<td>Scribe</td>
		<td><a href="mailto:scribe@bostonhash.com">Wikipedophelia</a></span> &amp; Skull Fucker</td>
		</tr>
		<tr>
		<td>Scribe Emeritus</td>
		<td><a href="mailto:scribeemeritus@bostonhash.com">Cums Alone</a></span></td>
		</tr>
		<tr>
		<td>Hareraiser</td>
		<td><a href="mailto:hareraiser@bostonhash.com">Wikipedophelia</a></span> &amp; <a href="mailto:hareraiser@bostonhash.com">The Buttler Hit It</a></span></td>
		</tr>
		<tr>
		<td>Hash Dementress</td>
		<td>Ignorance is Piss, Harlot Globe Fondler &amp; Clit Notes</td>
		</tr>
		<tr>
		<td>Marathon Chairs</td>
		<td><a href="mailto:marathon@bostonhash.com">THE 2nd Cumming</a></span> &amp; <a href="mailto:marathon@bostonhash.com">Pubic Service Announcement</a></span></td>
		</tr>
		<tr>
		<td>Holiday Chairs</td>
		<td>Save a Tree, Ride a Cowboy &amp; Dirty Latte Sanchez</td>
		</tr>
		<tr>
		<td>Beer Bitches</td>
		<td>The Buttler Hit It &amp; Udder Whore</td>
		</tr>
		<tr>
		<td>Haberdasher</td>
		<td><a href="mailto:haberdasher@bostonhash.com">Willy Wonka and the Backdoor Factory</a></span>, Certified Poop Accuntant, &amp; Pappy van Tinkle</td>
		</tr>
		<tr>
		<td>Webmeister</td>
		<td><a href="mailto:webmeister@bostonhash.com">Velvet Pelvis</a></span> &amp; Piss Stop</td>
		</tr>
		<tr>
		<td>Hash Ho</td>
		<td>THE 2nd Cumming, Brokeback Baby, &amp; Snap Off</td>
		</tr>
		</tbody></table>
		</div><!--end responsive table div -->