<a href="#" onclick="return toggle_section($(this));">Your 2013-2014 Mismanagement</a>
<div class="table-responsive hidden">
<br />
<table class="table table-bordered table-condensed">
<tbody><tr class="active">
<th>Position</th>
<th>Hasher</th>
</tr>
<tr>
<td>Grand Masters</td>
<td>+2 Coonass &amp; Señor Cocksucker  </td>
</tr>
<tr>
<td>Religious Advisors</td>
<td>Easy To Please, Krusty the Meat Miser, Blubber Fucker, Skullfucker </td>
</tr>
<tr>
<td>Hash Cash</td>
<td>Goat Throat, Sketchy Ho, Yellow Dick Gnome, I Licked Butts, Wikipedophilia </td>
</tr>
<tr>
<td>Hash Accounts</td>
<td>Hare Club for Queers, Nice Tits </td>
</tr>
<tr>
<td>Scribe</td>
<td>Shart of Darkness </td>
</tr>
<tr>
<td>Scribe Emeritus</td>
<td><a href="mailto:scribeemeritus@bostonhash.com">Cums Alone</a></span></td>
</tr>
<tr>
<td>Hareraiser</td>
<td>Yankee Pay $5 More, No Man On the Moon </td>
</tr>
<tr>
<td>Hash Dementress</td>
<td>Anal Disco, Yellow Dick Gnome</td>
</tr>
<tr>
<td>Marathon Chairs</td>
<td>Wikipedophilia, Mud Slut</td>
</tr>
<tr>
<td>Holiday Chairs</td>
<td>Nice Tits, Oink Oink Ohhhhhhhh </td>
</tr>
<tr>
<td>Beer Bitches</td>
<td>The Buttler Hit It &amp; I Licked Butts</td>
</tr>
<tr>
<td>Haberdasher</td>
<td>Twat My Mom, E=I'm A Douche, Udder Whore </td>
</tr>
<tr>
<td>Webmeister</td>
<td><a href="mailto:webmeister@bostonhash.com">Velvet Pelvis</a></span> &amp; Piss Stop</td>
</tr>
<tr>
<td>Hash Ho</td>
<td>Brokeback Baby</td>
</tr>
</tbody></table>
</div><!--end responsive table div -->