<a href="#" onclick="return toggle_section($(this));">Your 2014-2015 Mismanagement</a>
<div class="table-responsive hidden">
<table class="table table-bordered table-condensed">
<tbody><tr class="active">
<th>Position</th>
<th>Hasher</th>
</tr>
<tr>
<td>Grand Masters</td>
<td>Yellow Dick Gnome &amp; Can't Eat Pussy </td>
</tr>
<tr>
<td>Religious Advisors</td>
<td>Krusty the Meatmiser, Easy to Please, Clit Notes, Bloody Slip Inside, Blubber Fucker </td>
</tr>
<tr>
<td>Hash Cash</td>
<td>Goat Throat, Blowbot, Wikipedophilia </td>
</tr>
<tr>
<td>Hash Accounts</td>
<td>Sketchy Ho, Nice Tits </td>
</tr>
<tr>
<td>Scribe</td>
<td>Necrophiliac Jack, Shart of Darkness, Wikipedophilia </td>
</tr>
<tr>
<td>Scribe Emeritus</td>
<td><a href="mailto:scribeemeritus@bostonhash.com">Cums Alone</a></span></td>
</tr>
<tr>
<td>Hareraiser</td>
<td> Pop Cum Ear I'm Infected, Shart of Darkness </td>
</tr>
<tr>
<td>Hash Dementress</td>
<td>Bumfucking Vagibond, Easy as 123</td>
</tr>
<tr>
<td>Marathon Chairs</td>
<td>Wikipedophilia, +2 Coonass, Señor Cocksucker</td>
</tr>
<tr>
<td>Holiday Chairs</td>
<td>Mangia My Vagina, Certified Poop Acuntant</td>
</tr>
<tr>
<td>Beer Bitches</td>
<td>Pappy van Tinkle, Udder Whore, The Buttler Hit it</td>
</tr>
<tr>
<td>Haberdasher</td>
<td>Twat my Mom, Döucheland</td>
</tr>
<tr>
<td>Webmeister</td>
<td><a href="mailto:webmeister@bostonhash.com">Velvet Pelvis</a></span> &amp; Krusty the Meatmiser</td>
</tr>
<tr>
<td>Hash Ho</td>
<td>Spunk in the Trunk, Twat My Mom</td>
</tr>
</tbody></table>
</div><!--end responsive table div -->
