<a href="#" onclick="return toggle_section($(this));">Your 2015-2016 Mismanagement</a>
<div class="table-responsive hidden">
<table class="table table-bordered table-condensed">
<tbody><tr class="active">
<th>Position</th>
<th>Hasher</th>
</tr>
<tr>
<td>Grand Masters</td>
<td>Wikipedophilia &amp; Udder Whore</td>
</tr>
<tr>
<td>Religious Advisors</td>
<td>Bloody Slip Inside, Anal Disco, Can't Eat Pussy, Black Cock Down</td>
</tr>
<tr>
<td>Hash Cash</td>
<td>Blowbot, Fellowship of the Cock Ring, Bumfucking Vagibond</td>
</tr>
<tr>
<td>Hash Accounts</td>
<td>Goat Throat, Sketchy Ho</td>
</tr>
<tr>
<td>Scribe</td>
<td>Orgasm Falmon, Shart of Darkness</td>
</tr>
<tr>
<td>Scribe Emeritus</td>
<td><a href="mailto:scribeemeritus@bostonhash.com">Cums Alone</a></span></td>
</tr>
<tr>
<td>Hareraiser</td>
<td>Dry Hoes, Marbleous Asshole</td>
</tr>
<tr>
<td>Trail Blesser</td>
<td>Goat Throat</td>
</tr>
<tr>
<td>Hash Dementor/ess</td>
<td>Queer and Foaming in My Anus, Popo Peepshow</td>
</tr>
<tr>
<td>Marathon Chairs</td>
<td>Yellow Dick Gnome, Orgasm Falmon, Pop Cum Ear I'm Infected</td>
</tr>
<tr>
<td>Holiday Chairs</td>
<td>Luvalamp, Show Me the Penis</td>
</tr>
<tr>
<td>Beer Bitches</td>
<td>The Buttler Hit It, Vaginacologist</td>
</tr>
<tr>
<td>Haberdasher</td>
<td>Blondie McFucksalot, Luvalamp</td>
</tr>
<tr>
<td>Webmeister</td>
<td><a href="mailto:webmeister@bostonhash.com">Velvet Pelvis</a></span>, Krusty the Meatmiser, Queer and Foaming in My Anus</td>
</tr>
<tr>
<td>Hash Ho</td>
<td>CPA, +2 Coonass</td>
</tr>
<tr>
<td>Hash Hotline</td>
<td>Orgasm Falmon, Anal Disco, Gone Gaywol</td>
</tr>
</tbody></table>
</div><!--end responsive table div -->
