<a href="#" onclick="return toggle_section($(this));">Your 2017-2018 Mismanagement</a>
<div class="table-responsive hidden">
<table class="table table-bordered table-condensed">
<tbody><tr class="active">
<th>Position</th>
<th>Hasher</th>
</tr>
<tr>
<td>Grand Masters</td>
<td>Orgasm Famine &amp; Marbelous Asshole</td>
</tr>
<tr>
<td>Religious Advisors</td>
<td>Quarter Mile Queer, Wikipedophelia, Botoom Wrangler, Yellow Dick Gnome</td>
</tr>
<tr>
<td>Hash Cash</td>
<td>Fellowship of the Cock Ring, Goat Throat, Bum Fucking Vagabond, Wikipedophelia</td>
</tr>
<tr>
<td>Hash Accounts</td>
<td>Goat Throat, Fellowship of the Cock Ring</td>
</tr>
<tr>
<td>Scribe</td>
<td>Shits the Spot, Rammerhead Shark, The Butler Hit It</td>
</tr>
<tr>
<td>Scribe Emeritus</td>
<td>Cums Alone</td>
</tr>
<tr>
<td>Hareraiser</td>
<td>Blondie McFucks'alot, Chunderelli Chunderelli</td>
</tr>
<tr>
<td>Hash Dementor/ess</td>
<td>Po Po Peepshow, 3 Ring Cervix, Other emeritus</td>
</tr>
<tr>
<td>Marathon Chairs</td>
<td>O’boner, Udder Whore</td>
</tr>
<tr>
<td>Holiday Chairs</td>
<td>Quater Mile Queer, Wikipedophelia</td>
</tr>
<tr>
<td>Beer Bitch</td>
<td>O'Boner</td>
</tr>
<tr>
<td>Haberdasher</td>
<td>Easy as 123, Glutenless Maximus</td>
</tr>
<tr>
<td>Webmeister</td>
<td>Velvet Pelvis, Clit Notes</td>
</tr>
</tbody></table>
</div><!--end responsive table div -->
