<a href="#" onclick="return toggle_section($(this));">Your 2019-2020 Mismanagement</a>
<div class="table-responsive hidden">
<table class="table table-bordered table-condensed">
<tbody><tr class="active">
<th>Position</th>
<th>Hasher</th>
</tr>
<tr>
<td>Grand Masters</td>
<td>Shart of Darkness &amp; Chunderelli Chunderelli</td>
</tr>
<tr>
<td>Religious Advisors</td>
<td>Quarter Mile Queer, Cuntcussion, DoMe Decimal, Luva Lamp, Full Frontal Fireball</td>
</tr>
<tr>
<td>Hash Cash</td>
<td>Vagibond Molly, Wikipedophelia, Sex the Final Frontier, Swedish Eagle</td>
</tr>
<tr>
<td>Hash Accounts</td>
<td>Udder Whore, Sex the Final Frontier</td>
</tr>
<tr>
<td>Hareraiser</td>
<td>Shits and Ladders, Full Frontal Fireball</td>
</tr>
<tr>
<td>Hash Dementor/ess</td>
<td>Po Po Peepshow</td>
</tr>
<tr>
<td>Marathon Chairs</td>
<td>Blondie McFucksalot &amp; Wikipedofilia</td>
</tr>
<tr>
<td>Holiday Chairs</td>
<td>Full Frontal Fireball &amp; O'Bone'R</td>
</tr>
<tr>
<td>Beer Bitch</td>
<td>The Buttler Hit It</td>
</tr>
<tr>
<td>Haberdasher</td>
<td>O'Bone'R</td>
</tr>
<tr>
<td>Webmeister</td>
<td>Velvet Pelvis, Clit Notes</td>
</tr>
</tbody></table>
</div><!--end responsive table div -->
